.mainpage{
    flex: 9;
    display: flex;
    flex-direction: column;
}
.topbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.synchronized{
    margin: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(245, 206, 163, 1);
}
.synchronized img{
    margin-right: 10px;
}
.topbarBtn{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    background-color: rgba(26, 33, 43, 1);
    border-radius: 5px;
    border: none;
}
.topbarBtn:last-child{
    margin-right: 30px;
}
.walletDetails{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.walletName{
    margin-left: 30px;
    color: rgba(199, 141, 78, 1);
    font-size: 25px;
}
.addCoin{
    margin-right: 30px;
    width: 130px;
    height: 40px;
    background-color: rgba(26, 33, 43, 1);
    border-radius: 5px;
    border: none;
    color: rgba(190, 180, 168, 1);
    font-size: 15px;
}
.coinFiltersWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px 15px 30px;
    border: 1px solid rgba(217, 217, 217, 0.25);
    height: 30px;
    padding: 10px;
}
.coinCount{
    color: rgba(173, 171, 170, 1);
    font-size: 13px;
    padding-left: 20px;
}
.coinFilters{
    display: flex;
}
.coinFilter{
    font-size: 13px;
    margin-right: 50px;
    margin-left: 40px;
    color: rgba(173, 171, 170, 1);
}
.filter{
    padding-right: 6px;
    padding-left: 6px;
}